.grid-item{
    padding: 10px;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "contact submitapp"
    "footer footer"
    ;
}

.grid-item-1{
    grid-area: header;
    background-color: #066163;
    color: white;
}

.grid-item-2{
    grid-area: contact;
    background-color: #CDBE78;
}

.grid-item-3{
    grid-area: submitapp;
    background-color: #CDBE78;
}

.grid-item-4{
    grid-area: footer;
    background-color: #066163;
}

body {
    background-color: #383838;
}